<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <script type = "text/javascript" src="/vendors/jquery/dist/jquery.min.js"></script>
    <script type = "text/javascript" src="/assets/scripts/admin.js"></script>
</head>
<body>
Botnet dashboard

<label for="initialization">Initialization</label><input type="text" id="initialization"/>

<button id="submitInitialization" type="button">Submit Initialization</button>

<label for="command">Command</label><input type="text" id="command"/>

<button id="submitCommand" type="button">Submit Command</button>

</body>
</html>